.header__list-item {
    margin: 18px 18px 6px 0;
}
    
.header__list-item:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 545px) {
    .header__list-item    {
        margin-top: 14px;
        margin-bottom: 8px;
    }
}